$verde-50: #4be188;
$verde-40: #01d318;
$verde-30: #bfee62;
$verde-20: #009e0b;
$verde-10: #257e06;
$amarelo-20: #ffe93d;
$amarelo-10: #fbd84b;
$preto-20: #282828;
$cinza-30: #f1f1f1;
$branco-10: #ffffff;
